* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
}
/* Header */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background: rgb(255, 255, 255);
  transition: all 300ms;
}
.container-header {
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0px 20px 0 20px;
}
header .logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 90px;
}
.container-all {
  right: 0;
}
/* Nav */
.container-nav {
  position: relative;
  height: 100%;
}
nav {
  height: 100%;
}
nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin: 0px 20px;
}
nav ul li a {
  color: #43372b;
  font-size: 15px;
  transition: all 1200ms;
}
nav ul li a:hover {
  background-color: #dabcb2;
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
  transition: all 700ms;
}
.nav-move {
  height: 90px;
  box-shadow: 1px 1px 10px 0px #a76f57;
  background-color: white;
}
.btn-menu {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #dabcb2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: none;
  display: none;
}
.cover {
  width: 100%s;
  padding-bottom: 20px;
  font-family: "Libre Baskerville", serif;
  margin-top: 100px;
}
.container-cover {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;

  background-color: url("../project-js/resources/img-header.svg");
  background-size: cover;
  background-position: bottom;
}
.cover .container-info {
  max-width: 400px;
  margin-top: 40px;
  z-index: 2;
}
.cover h1 {
  max-width: 400px;
  font-size: 55px;
  font-weight: 900;
  color: #a17a69;
  transition: all 3000ms;
}
.cover h1:hover {
  font-size: 60px;
  transition: all 1200ms;
}
.cover h2 {
  font-size: 50px;
  font-weight: 900;
  color: #ceaa9a;
  margin-top: -10px;
}
.cover p {
  margin-top: 10px;
  color: black;
}
.cover input[type="button"] {
  padding: 10px 40px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  color: white;
  background-color: #b5927f;
  border-radius: 20px;
  box-shadow: 1px 1px 30px 5px #b5a59f;
  cursor: pointer;
  transition: box-shadow 500ms;
}
.cover input[type="button"]:hover {
  color: white;
  background-color: #b4846a;
  box-shadow: 1px 1px 30px 5px #a17a69;
  cursor: pointer;
}
.container-img {
  position: relative;
}
.container-img img {
  position: absolute;
  bottom: 0;
  left: 450px;
  width: 780px;
  height: 600px;
  align-items: center;
  animation: moveVector 6s ease-in-out infinite;
}
.move-content {
  right: 180px;
}

/* About */
.titulo-about {
  color: #a17a69;
  margin: 20px;
  padding-bottom: 10px;
  font-size: 30px;
  transition: all 3000ms;
}
.titulo-about:hover {
  color: #a76f57;
  font-size: 35px;
  text-shadow: #ff9c67 1px 0 10px;
  transition: all 3000ms;
}
.contenedor-about {
  max-width: 1200px;
  padding: 15em;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  color: #43372b;
}
/* keyframes */
@keyframes moveVector {
  0% {
    transform: translateY(100px);
  }
  25% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(100px);
  }
}
/* media */
@media screen and (max-width: 920px) {
  .container-img img {
    width: 370px;
  }
}

@media screen and (max-width: 760px) {
  .container-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-menu {
    display: flex;
  }
  nav {
    height: 100vh;
    background-color: #ebcdc3;
    position: fixed;
    top: 0;
    right: -180px;
    padding: 0 40px;
    transition: all 300ms;
  }
  .move-nav {
    right: -1px;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin: 20px 0;
  }
  .container-img img {
    width: 0px;
  }
  .container-cover {
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  .cover h1 {
    text-align: center;
  }
  .cover h2 {
    text-align: center;
  }
  .cover p {
    text-align: justify;
  }
}
